@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Istok Web", sans-serif;
  --font-inter: "Inter", "sans-serif";
  --text-shadow-xl: 0 4px 4px rgba(0, 0, 0, 0.75);
  --background-fade: linear-gradient(to bottom, #1a1a1a, #1f1f1f, #2a2a2a, #333333);

}

select {
  -webkit-appearance: none; /* Removes default Safari/Chrome styling */
  /* Other styles */
}

#pagina-it {
  /* background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 9.62%, #131313 62.5%); */
  background: linear-gradient(to top, #1a1a1a, #1f1f1f, #2a2a2a, #333333);

}
